<app-header></app-header>
<div class="container">
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Исполнительное агенство | Реализующий агенство</th>
          <th>Количество <br> тендеров</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let subcr of subscriberData | paginate: {itemsPerPage: 10, currentPage: page}; let idx = index">
          <td><span>№</span>{{ subcr.project_id }}</td>
          <td><span>Проект</span>{{ subcr.name }}</td>
          <td><span>Количество тендеров</span>{{ subcr.anouncements.length }}</td>
          <td class="download">
            <div class="trash_block" [routerLink]="['/announcement', subcr.project_id]" >
              <i class="fas fa-chevron-right"></i>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>

Прежде всего, позвольте представиться, меня зовут Питер Аткинс, и в последнее время я работаю в
Америкателеком в качестве сетевого инженера. Я получил степень бакалавра компьютерных наук
Наука и инженерия (поток разработки программного обеспечения) Принстонского университета. То
учебная программа бакалавриата по информатике и инженерии в технологическом институте,
Принстонский университет знакомит меня с широким спектром инженерных дисциплин.
Различные курсы, такие как искусственный интеллект (робототехника), языки программирования,
Электроника I и II, разработка программного обеспечения, системное программирование, микропроцессор,
Взаимодействие и сборка, анализ и разработка алгоритмов, цифровая обработка сигналов,
Сетевая и системная безопасность, Цифровая система, Анализ и проектирование алгоритмов, Компьютер
графика и мультимедиа, компьютерное моделирование и моделирование дали мне сильную
основу в теоретической концепции информатики и инженерии.
Предлагая как глубину, так и широту в этой области, эти курсы раскрывают перспективу
важность и актуальность компьютерных наук и техники, а также применение
его основы для проблем, с которыми сталкивается реальный мир. Так что я могу понять, что обучение и
развивая свои знания в области компьютерных наук. Я внесу большой вклад в
общества с тех пор, как наша страна начинает переводить ручную систему на компьютерную. я очень
стремится осваивать и осваивать новые технологии.