<app-header></app-header>
<div class="container">
  <div class="title_block">
    <h1>Тендеры проекта > <span>Список заявок</span></h1>
  </div>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Проект</th>
          <th>Количество <br> тендеров</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let subcr of subscriberData">
          <td><span>№</span>{{ subcr.id }}</td>
          <td><span>Проект</span>{{ subcr.name }}</td>
          <td><span>Количество тендеров</span>{{ subcr.total }}</td>
          <td class="download">
            <div class="trash_block" [routerLink]="['/announcement', subcr.id]" >
              <i class="fas fa-chevron-right"></i>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>

