<div class="container">
  <img class="logo" src="assets/img/weblogo_ru.png" routerLink="/announcement">
  <img class="citat" src="assets/img/ru03.png" alt=""> 
  <div class="logOut" (click)="logOut()">
    <i class="fas fa-sign-out-alt"></i>
    <h1>Выход</h1>
  </div>
</div>
<div class="menu_container">
  <div class="menu_block">
    <i class="fa fas fa-home" routerLinkActive="active" (click)="homePage()"></i>
    <div class="material_block">
      <button class='mn_but' mat-button *ngIf="admin" [matMenuTriggerFor]="applications">План закупок</button>
      <mat-menu #applications="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="applicationsFiles">Аъзои кумитаи давлатии сармоягузории хамаи дунё</button>
      </mat-menu>
      <mat-menu #applicationsFiles="matMenu">
        <button mat-menu-item>Файлы 11</button>
        <button mat-menu-item>Файлы 2</button>
        <button mat-menu-item>Файлы 3</button>
        <button mat-menu-item>Файлы 4</button>
        <button mat-menu-item>Файлы 5</button>
      </mat-menu>


      <button class='mn_but' mat-button *ngIf="admin" [matMenuTriggerFor]="shoping">Шоппинг</button>
      <mat-menu #shoping="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="shopingFiles">Кумитаи давлатии сармоягузории хамаи дунё</button>
      </mat-menu>
      <mat-menu #shopingFiles="matMenu">
        <button mat-menu-item>Файлы 12</button>
        <button mat-menu-item>Файлы 2</button>
        <button mat-menu-item>Файлы 3</button>
        <button mat-menu-item>Файлы 4</button>
        <button mat-menu-item>Файлы 5</button>
      </mat-menu>



      <button class='mn_but' mat-button *ngIf="admin" [matMenuTriggerFor]="tenderDoc">Тендерные документы</button>
      <mat-menu #tenderDoc="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="tenderDocFiles">Давлати Чумхурии Точикистон барои хамаи халқ</button>
      </mat-menu>
      <mat-menu #tenderDocFiles="matMenu">
        <button mat-menu-item>Файлы 13</button>
        <button mat-menu-item>Файлы 2</button>
        <button mat-menu-item>Файлы 3</button>
        <button mat-menu-item>Файлы 4</button>
        <button mat-menu-item>Файлы 5</button>
      </mat-menu>


      <button class='mn_but' mat-button *ngIf="admin" [matMenuTriggerFor]="report">Отчёты</button>
      <mat-menu #report="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="reportFiles">Отчеты</button>
      </mat-menu>
      <mat-menu #reportFiles="matMenu">
        <button mat-menu-item>Файлы 14</button>
        <button mat-menu-item>Файлы 2</button>
        <button mat-menu-item>Файлы 3</button>
        <button mat-menu-item>Файлы 4</button>
        <button mat-menu-item>Файлы 5</button>
      </mat-menu>


      <button class='mn_but' mat-button *ngIf="admin" [matMenuTriggerFor]="contract">Контракты</button>
      <mat-menu #contract="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="contractFiles">Contracts</button>
      </mat-menu>
      <mat-menu #contractFiles="matMenu">
        <button mat-menu-item>Файлы 15</button>
        <button mat-menu-item>Файлы 2</button>
        <button mat-menu-item>Файлы 3</button>
        <button mat-menu-item>Файлы 4</button>
        <button mat-menu-item>Файлы 5</button>
      </mat-menu>
      

      <button class='mn_but' mat-button *ngIf="admin" [matMenuTriggerFor]="agreement">Соглашение</button>
      <mat-menu #agreement="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="agreementFiles">Agreements</button>
      </mat-menu>
      <mat-menu #agreementFiles="matMenu">
        <button mat-menu-item>Файлы 16</button>
        <button mat-menu-item>Файлы 2</button>
        <button mat-menu-item>Файлы 3</button>
        <button mat-menu-item>Файлы 4</button>
        <button mat-menu-item>Файлы 5</button>
      </mat-menu>
    </div>

    <h1 [routerLink]="['/announcerfile', 1]" routerLinkActive="active" *ngIf="anouncer">План закупок</h1>
    <h1 [routerLink]="['/announcerfile', 2]" routerLinkActive="active" *ngIf="anouncer">Шоппинг</h1>
    <h1 [routerLink]="['/announcerfile', 3]" routerLinkActive="active" *ngIf="anouncer">Тендерные документы</h1>
    <h1 [routerLink]="['/announcerfile', 4]" routerLinkActive="active" *ngIf="anouncer">Контракты</h1>
    <h1 [routerLink]="['/announcerfile', 5]" routerLinkActive="active" *ngIf="anouncer">Соглашение</h1>
    <h1 routerLink="/announcerpayment" routerLinkActive="active" *ngIf="anouncer">Оплата</h1>
    <h1 routerLink="/resultdata" routerLinkActive="active" *ngIf="anouncer">Результат</h1>
    <h1 routerLink="/subscribertender" routerLinkActive="active" *ngIf="subscriber">Проекты</h1>
    <h1 routerLink="/subscriberorders" routerLinkActive="active" *ngIf="subscriber">Мои заявки</h1>
  </div>
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>
    <ul class="menu__box">
      <li><a class="menu__item" routerLink="/admin" *ngIf="admin">Центры</a></li>
      <li><a class="menu__item" routerLink="/announcerpayment" *ngIf="anouncer">Оплата</a></li>
      <li><a class="menu__item" routerLink="/announcer" *ngIf="anouncer">Обявления</a></li>
      <li><a class="menu__item" routerLink="/resultdata" *ngIf="anouncer">Результат</a></li>
      <li><a class="menu__item" routerLink="/profile" *ngIf="subscriber">Профиль</a></li>
      <li><a class="menu__item" routerLink="/subscribertender" *ngIf="subscriber">Проекты</a></li>
      <li><a class="menu__item" routerLink="/subscriberorders" *ngIf="subscriber">Мои заявки</a></li>
      <li><a class="menu__item signup" (click)="logOut()">Выход</a></li>
    </ul>

  </div>
</div>
