.container {
    background-color: #15345c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
img {
    margin-left: auto;
}
.logo {
    width: 500px;
    cursor: pointer;
}
.logOut {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}
.logOut .fas {
    font-size: 30px;
    margin-right: 10px;
    color: #fff;
}
.logOut h1 {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    font-family: 'Calibri';
    font-weight: 300;
}
.menu_container {
    background-color: #112a4a;
    color: #fff;
    padding: 10px;
}
.menu_block {
    max-width: 1430px;
    margin: auto;
    display: flex;
    align-items: center;
}
.menu_container i {
    cursor: pointer;
}
.menu_container h1 {
    font-family: "Calibri", sans-serif;
    font-weight: 100;
    margin-left: 35px;
    font-size: 18px;
    cursor: pointer;
}
@media screen and (max-width: 1350px) {
    .logo {
        width: 450px;
        margin: 0;
        
    }
    .citat {
        display: none;
    }
}
@media screen and (max-width: 925px) {
    .menu_block {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .container {
        justify-content: center;
        align-items: center;
    }
    .logOut {
        display: none;
    }
}
@media screen and (max-width: 455px) {
    .logo {
        width: 100%;
    }
}