<app-header></app-header>
<div class="container_file" *ngIf="showFileModal">
  <div class="block_file">
    <i class="fas fa-times" (click)="closeModal()"></i>
    <h1 *ngFor="let fle of dowFile; let idx = index" (click)="download(fle.file)">Файл {{ idx+1 }}</h1>
  </div>
</div>
<div class="container">
  <div class="title_block">
    <h1>Тендеры проекта</h1>
    <button routerLink="/announcertender">+</button>
  </div>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название</th>
          <th>ID</th>
          <th>Центр <br> ID</th>
          <th>Тип <br> проведения</th>
          <th>Взнос</th>
          <th>Дата <br> открытия</th>
          <th>Метод <br> проведения</th>
          <th>Лоты</th>
          <th>Подали <br> заявки</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let announcer of annpuncerData">
          <td><span>№</span>{{announcer.id}}</td>
          <td><span>Название</span>{{announcer.name}}</td>
          <td><span>ID</span>{{announcer.id}}</td>
          <td><span>Центр ID</span>{{announcer.project_center_anouncement_id}}</td>
          <td><span>Тип проведения</span>{{announcer.type_of_procurement}}</td>
          <td><span>Взнос</span>{{announcer.price}}</td>
          <td><span>Дата открытия </span>{{announcer.open_date}}</td>
          <td><span>Метод проведения</span>{{announcer.procurement_method}}</td>
          <td><span>Лоты</span>{{announcer.number_of_lots}}</td>
          <td class="change" [routerLink]="['/announcerform', announcer.id]">
            <h1>123</h1>
            <i class="fas fa-search"></i>
          </td>
          <td class="download" style="width: 10px;">
            <span>Действие</span>
            <div class="trash_block" (click)="openModal(announcer.files)">
            <i class="fas fa-download"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
