<app-header></app-header>
<div class="modal_check" *ngIf="modalReportFile">
  <div class="modal_check-items_block">
    <i class="fas fa-times" (click)="modalReportFile = false"></i>
    <div class="modal_check_items">
      <h1 class="title">Файл Отчёта</h1>

      <div class="check_input">
        <h1 class="title_input">Файл</h1>
        <div class="check_input-item">
          <h1 class="description">{{ reportFileName }}</h1>
          <img src="assets/img/file.svg" alt="">
          <input type="file" accept=".pdf" (change)="getReportFile($event)">
        </div>
      </div>
      <button (click)="modalSend()">Отправить</button>
    </div>
  </div>
</div>

<div class="container_file" *ngIf="showReportFile">
  <div class="block_file">
    <i class="fas fa-times" (click)="showReportFile = false"></i>
    <div class="editFile_block">
      <h1 (click)="downloadReportFile()">Файл 1</h1>
      <i class="fas fas fa-trash" (click)="deleteReportFile()"></i>
    </div>
  </div>
</div>


<div class="container_file" *ngIf="showFileModal">
  <div class="block_file">
    <i class="fas fa-times" (click)="closeModal()"></i>
    <h1 *ngIf="privateFilesData < 1 ? 0 : 1" (click)="download(privateDowFile)">Тендерные документи</h1>
    <h1 *ngIf="publicFilesData < 1 ? 0 : 1" (click)="download(publicDowFile)">Обявления</h1>
  </div>
</div>
<div class="container">
  <div class="title_block">
    <h1>ЦЕНТР, ГРУППА, АГЕНТСТВО ПО ИСПОЛНЕНИЮ И РЕАЛИЗАЦИИ ПРОЕКТОВ</h1>
    <button routerLink="/announcertender">+</button>
  </div>
  <h2 style="text-align: center;">Обявления и доступ к тендерним документам</h2>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название <br> проекта/тендера</th>
          <th>ID</th>
          <th>ID<br>Тендера</th>
          <th>Тип <br> проведения</th>
          <th>Тайм</th>
          <th>Взнос</th>
          <th>Дата <br> открытия</th>
          <th>Метод <br> проведения</th>
          <th>Лоты</th>
          <th>Подали <br> заявки</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train"
          *ngFor="let announcer of announcerData | paginate: {itemsPerPage: 10, currentPage: page}; let idx = index">
          <td><span>№</span>{{announcer.anouncement_id}}</td>
          <td><span>Название проекта/тендера</span>{{ announcer.project?.name }} / {{ announcer.name }}</td>
          <td><span>ID</span>{{announcer.project_center_anouncement_id}}</td>
          <td><span>Центр ID</span>{{announcer.project_center_anouncement_id}}</td>
          <td><span>Тип проведения</span>{{announcer.type_of_procurement}}</td>
          <td><span>Тайм</span>{{ announcer.open_time }}</td>
          <td><span>Взнос</span>{{announcer.price}}</td>
          <td><span>Дата открытия </span>{{announcer.open_date}}</td>
          <td><span>Метод проведения</span>{{announcer.procurement_method}}</td>
          <td><span>Лоты</span>{{announcer.number_of_lots}}</td>
          <td class="change" [routerLink]="['/announcerform', announcer.anouncement_id]">
            <h1>{{ announcer.total }}</h1>
            <i class="fas fa-search"></i>
          </td>
          <td class="download" style="width: 10px;">
            <div class="items" style="display: flex;">
              <span>Действие</span>
              <div class="icons_block"
                (click)="openModal(announcer.anouncement_private_file, announcer.anouncement_public_file)">
                <i class="fas fa-download"></i>
              </div>

              <div class="icons_block" [routerLink]="['/announceredit', announcer.anouncement_id]"
                *ngIf="announcer.open_date > date">
                <i class="far fa-edit"></i>
              </div>


              <div class="icons_block" (click)="deleteAnnouncer(announcer.anouncement_id, announcer.name)">
                <i class="fas fa-trash"></i>
              </div>

              <div class="icons_block" *ngIf="announcer.open_date <= date"
                (click)="reports(announcer.report, announcer.anouncement_id)">
                <i class="fas fa-file-invoice"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button>Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
