<app-header></app-header>
<div class="container">
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название</th>
          <th>Email</th>
          <th colspan="2">Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="add_block" *ngIf="editShow==0">
          <td style="border: #fff;"></td>

          <td [ngStyle]="{'border': addError ? '1px solid red' : '1px solid #000'}">
            <form [formGroup]="addForm">
              <h1>Название</h1>
              <input type="text" [placeholder]="placeName" formControlName="addName">
            </form>
          </td>

          <td [ngStyle]="{'border': addError ? '1px solid red' : '1px solid #000'}">
            <form [formGroup]="addForm">
              <h1>Email</h1>
              <input type="text" [placeholder]="placeEmail" formControlName="addEmail">
            </form>
          </td>

          <td colspan="2" style="border: none;"><button (click)="addButton()">Добавить</button></td>
        </tr>
        <tr class="train" *ngFor="let items of tableData | paginate: {itemsPerPage: 10, currentPage: page}">
          <td><span>№</span>{{ items.id }}</td>
          <td>
            <span>Название</span>
            <div class="td_block">
              <h1 *ngIf="editShow != items.id">{{ items.name }}</h1>

              <form [formGroup]="editForm" *ngIf="editShow == items.id">
                <input type="text" [placeholder]="items.name" formControlName="name">
              </form>
            </div>
          </td>

          <td>
            <span>Email</span>
            <div class="td_block">
              <h1 *ngIf="editShow != items.id">{{ items.email }}</h1>

              <form [formGroup]="editForm" *ngIf="editShow == items.id">
                <input type="text" [placeholder]="items.email" formControlName="email">
              </form>
            </div>
          </td>

          <td class="change" (click)="itemClick(items.id)" *ngIf="editShow != items.id">
            <div class="trash_block">
              <i class="td_i fas fa-pencil-alt"></i>
            </div>
          </td>

          <td class="change">
            <div class="trash_block" *ngIf="editShow != items.id" (click)="deleteItem(items.id, items.name)">
              <i class="fas fa-trash"></i>
            </div>

            <div class="trash_block" *ngIf="editShow == items.id" (click)="changeButton(items.id)">
              <i>ОК</i>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="creat">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>

