<app-loading *ngIf="isLoading"></app-loading>
<app-header></app-header>
<div class="container">
  <div class="title_block">
    <h1>Добавить проект</h1>
  </div>

  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название проекты</th>
          <th>Email</th>
          <th colspan="3">Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="add_block" *ngIf="editShow==0">
          <td style="border: #fff;"></td>

          <td [ngStyle]="{'border': addForm.get('addName').invalid && addForm.get('addName').touched ? '1px solid red' : '1px solid #000'}">
            <form [formGroup]="addForm">
              <h1 style="padding: 0;">Название</h1>
              <input type="text" [placeholder]="placeName" formControlName="addName">
            </form>
          </td>

          <td [ngStyle]="{'border': addForm.get('addEmail').invalid && addForm.get('addEmail').touched ? '1px solid red' : '1px solid #000'}">
            <form [formGroup]="addForm">
              <h1 style="padding: 0;">Email</h1>
              <input type="text" [placeholder]="placeEmail" formControlName="addEmail">
            </form>
          </td>

          <td colspan="3" style="border: none;"><button [disabled]="addForm.invalid" (click)="addButton()">Добавить</button></td>
        </tr>
        <tr class="train" *ngFor="let items of tableData | paginate: {itemsPerPage: 10, currentPage: page}">
          <td><span>№</span>{{ items.project_id }}</td>
          <td>
            <span>Название</span>
            <div class="td_block">
              <h1 *ngIf="editShow != items.project_id">{{ items.name }}</h1>

              <form [formGroup]="editForm" *ngIf="editShow == items.project_id">
                <input type="text" [ngStyle]="{color: inputColor ? '#707070' : '#000'}" formControlName="name">
              </form>
            </div>
          </td>

          <td>
            <span>Email</span>
            <div class="td_block">
              <h1 *ngIf="editShow != items.project_id">{{ items.user.email }}</h1>

              <form [formGroup]="editForm" *ngIf="editShow == items.project_id">
                <input type="text" [ngStyle]="{color: inputColor ? '#707070' : '#000'}" formControlName="email">
              </form>
            </div>
          </td>

          <td class="change" (click)="itemClick(items.project_id)" *ngIf="editShow != items.project_id">
            <div class="trash_block">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </td>

          <td class="change">
            <div class="trash_block" *ngIf="editShow != items.project_id" (click)="deleteItem(items.project_id, items.name)">
              <i class="fas fa-trash"></i>
            </div>

            <div class="trash_block" *ngIf="editShow == items.project_id" (click)="changeButton(items.project_id)">
              <i>ОК</i>
            </div>
          </td>

          <td class="change" *ngIf="editShow != items.project_id" (click)="announcerPage(items.project_id)">
            <div class="trash_block">
              <i class="fas fa-sign-in-alt"></i>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="creat">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>

