<app-header></app-header>
  <div class="container">
      <div class="block">
          <p>lorem</p>
          <input type="text">
      </div>
      <div class="block">
          <p>lorem</p>
          <input type="text">
      </div>
      <div class="block">
          <p>lorem</p>
          <input type="text">
      </div>
      <div class="block file">
          <p>lorem</p>
          <input type="text">
      </div>
      <div class="btn">
        <button class="send" >ДОБАВИТЬ ЛОТ</button> 
      </div>
  </div>