<div class="container">
    <form>
        <h1>Маориф</h1>
        <div class="multiselect">
          <div class="selectBox" (click)="showCheckboxes = !showCheckboxes">
            <select>
              <option>Лоихахо</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes" [ngStyle]="{display: showCheckboxes ? 'block': 'none'}">
            <label  >
              <input type="checkbox" id="one" />Барномаи “Фондҳои ҷамоавӣ барои мусоидати рушди маълумоти асосӣ ва барқарорсозии инфрасохтори коммуналӣ, марҳилаи 4” 
            </label>
            <label  >
              <input type="checkbox" id="two" />Лоиҳаи «Сохтмон ва муҷаҳҳазгардонии мактабҳо, марҳилаи 4» 
            </label>
            <label  >
              <input type="checkbox" id="three" />Лоиҳаи «Рушди таҳсилоти олӣ» 
            </label>
            <label  >
              <input type="checkbox" id="three" /> Лоиҳаи  "Тақвияти таҳсилоти касбии техникӣ ва омӯзиш"  
            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи "Беҳтарсозии малакаҳои касбӣ ва имкониятҳои бокортаъминшавӣ"  
            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи “Дастгирии татбиқи Стратегияи миллии рушди маориф” 
            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи «Инкишофи барвақтии кӯдакон барои густариши сармояи инсонӣ дар Тоҷикистон» 
            </label>
          </div>
        </div>
        <h1>Тандурустӣ</h1>
        <div class="multiselect">
          <div class="selectBox" (click)="showCheckboxesS = !showCheckboxesS">
            <select>
              <option>Лоихахо</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes" [ngStyle]="{display: showCheckboxesS ? 'block': 'none'}">
            <label >
              <input type="checkbox" id="one" />Лоиҳаи Барномаи "Ёрии таъҷилӣ ба Ҳукумати Ҷумҳурии Тоҷикистон барои ташкил ва омодагӣ ба пандемияи COVID-19 ва қобилияти тамоилҳои имконпазир" 

            </label>
            <label >
              <input type="checkbox" id="two" />Лоиҳаи “Хизматрасониҳои маҷмӯӣ барои модар ва кӯдак” 
            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи «Беҳтар намудани хизматрасонии тиббӣ» (маблағгузории дуюми иловагӣ)


            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи “Беҳтар намудани хизматрасонии тиббӣ барои модар ва кӯдак дар чор ноҳияи вилояти Хатлони Ҷумҳурии Тоҷикистон" 

            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи «Ҳифзи саломатии модару кудак ва беҳтар намудани самти ёрии таъҷилии тиббӣ дар ноҳияҳои вилояти Хатлон» 
            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи “Дастгирии татбиқи Стратегияи миллии рушди маориф” 
            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи “Мубориза бар зидди бемориҳои сил, марҳилаи 5”


            </label>
            <label >
              <input type="checkbox" id="three" />Лоиҳаи фавқулодда бар зидди бемории COVID-2019 
            </label>
          </div>
        </div>
    </form>
    
      
      
</div>