<app-header></app-header>
<div class="container">
  <form>
    <!-- 1 -->
    <div class="block">
      <h1>Маориф</h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesZero()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes0 ? 'block': 'none'}" >
          <label>
            <input type="checkbox" id="one" />Барномаи “Фондҳои ҷамоавӣ барои мусоидати рушди маълумоти асосӣ ва
            барқарорсозии инфрасохтори коммуналӣ, марҳилаи 4”
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи «Сохтмон ва муҷаҳҳазгардонии мактабҳо, марҳилаи 4»
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи «Рушди таҳсилоти олӣ»
          </label>
          <label>
            <input type="checkbox" id="three" /> Лоиҳаи "Тақвияти таҳсилоти касбии техникӣ ва омӯзиш"
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи "Беҳтарсозии малакаҳои касбӣ ва имкониятҳои бокортаъминшавӣ"
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи “Дастгирии татбиқи Стратегияи миллии рушди маориф”
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи «Инкишофи барвақтии кӯдакон барои густариши сармояи инсонӣ дар
            Тоҷикистон»
          </label>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="block">
      <h1>Тандурустӣ</h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesFirst()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes1 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи Барномаи "Ёрии таъҷилӣ ба Ҳукумати Ҷумҳурии Тоҷикистон барои
            ташкил
            ва омодагӣ ба пандемияи COVID-19 ва қобилияти тамоилҳои имконпазир"
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи “Хизматрасониҳои маҷмӯӣ барои модар ва кӯдак”
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи «Беҳтар намудани хизматрасонии тиббӣ» (маблағгузории дуюми
            иловагӣ)
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи “Беҳтар намудани хизматрасонии тиббӣ барои модар ва кӯдак дар
            чор
            ноҳияи вилояти Хатлони Ҷумҳурии Тоҷикистон"
          </label>
          <label>
            <input type="checkbox" id="five" />Лоиҳаи «Ҳифзи саломатии модару кудак ва беҳтар намудани самти ёрии
            таъҷилии тиббӣ дар ноҳияҳои вилояти Хатлон»
          </label>
          <label>
            <input type="checkbox" id="six" />Лоиҳаи “Дастгирии татбиқи Стратегияи миллии рушди маориф”
          </label>
          <label>
            <input type="checkbox" id="seven" />Лоиҳаи “Мубориза бар зидди бемориҳои сил, марҳилаи 5”
          </label>
          <label>
            <input type="checkbox" id="eight" />Лоиҳаи фавқулодда бар зидди бемории COVID-2019
          </label>
        </div>
      </div>
    </div> 
    <!-- 3 -->
    <div class="block">
      <h1>Кишоварзӣ</h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesSec()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes2 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи "Рушди чорводорӣ ва ва чарогоҳҳо, марҳилаи 2"
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи «Дастгирии соҳаи кишоварзӣ дар заминаи ҷомеа»
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи “Тиҷоратикунонии соҳаи кишоварзӣ”
          </label>
        </div>
      </div>
    </div>  
    <!-- 4 -->
    <div class="block">
      <h1>Ирригатсия / обёрӣ</h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesThird()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes3 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи "Беҳтар намудани идоракунии захираҳои об дар вилояти
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи “Барқарорсозии системаи обёрӣ ва беҳтаркунии идоракунии он дар
            ҳавзаи дарёи Зарафшон”
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи «Идоракунии захираҳои об дар ҳавзаи дарёи Панҷ»
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи миллии “Идоракунии захираҳои об дар ҳавзаи Сирдарё, марҳилаи 2”
          </label>
        </div>
      </div>
    </div> 
    <!-- 5 -->
    <div class="block">
      <h1>Обтаъминкунӣ</h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesFourth()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes4 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи "Барқарорсозии системаи обтаъминкунии шаҳрҳои шимоли Тоҷикистон"
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи «Барқарорсозии системаи обтаъминкунии шаҳрҳои ҷанубии Тоҷикистон,
            марҳилаи 2»
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи «Барқарорсозии системаи обтаъминкунии шаҳрҳои шимолии
            Тоҷикистон,
            марҳилаи 2»
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи “Беҳтар намудани обтаъминкунӣ ва санитария дар шаҳри Душанбе”
          </label>
          <label>
            <input type="checkbox" id="five" />Лоиҳаи «Беҳтар намудани системаи таъминоти оби нушокӣ ва рафъи
            партовоби
            шаҳри Хуҷанд, марҳилаи 3»
          </label>
          <label>
            <input type="checkbox" id="six" />Лоиҳаи “Таъминоти оби Тоҷикистон, марҳилаи 2”
          </label>
          <label>
            <input type="checkbox" id="seven" /> Лоиҳаи «Обтаъминкунӣ ва беҳдошт дар деҳот»
          </label>
          <label>
            <input type="checkbox" id="eight" /> Лоиҳаи «Обтаъминкунӣ ва санитарияи шаҳри Норак»
          </label>
          <label>
            <input type="checkbox" id="nine" />Лоиҳаи «Обтаъминкунӣ ва корези шаҳри Душанбе»
          </label>
          <label>
            <input type="checkbox" id="ten" />Лоиҳаи “Идоракунии оби тозаи нӯшокӣ ва беҳдошт дар Ҷумҳурии Тоҷикистон,
            марҳилаи 1”
          </label>
          <label>
            <input type="checkbox" id="eleven" />Лоиҳаи “Таъмини об ва беҳдошт дар Тоҷикистон, марҳилаи 3”
          </label>
          <label>
            <input type="checkbox" id="twelve" />Лоиҳаи “Обтаъминкунӣ ва коррези ноҳияи Файзобод”
          </label>
        </div>
      </div>
    </div> 
    <!-- 6 -->
    <div class="block">
      <h1>Энергетика </h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesFifth()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes5 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи «Барқарорсозии нерӯгоҳи Сарбанд бо иқтидори 240 МВт»
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи "Ҷорӣ намудани ҳисобкунии яклухти таҳвили барқ ва беҳтаргардонии
            низоми интиқоли барқ"
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи минтақавии интиқоли нерӯи барқи (CASA – 1000)
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи «Азнавпайвастшавӣ ба низоми энергетикии Осиёи Марказӣ»
          </label>
          <label>
            <input type="checkbox" id="five" />
            Лоиҳаи «Электрификатсияи деҳот»
          </label>
          <label>
            <input type="checkbox" id="six" />Лоиҳаи CASA-1000 “Дастгирии ҷомеа”
          </label>
          <label>
            <input type="checkbox" id="seven" /> Лоиҳаи "Таҷдиди НБО-и Қайроққум"
          </label>
          <label>
            <input type="checkbox" id="eight" />Лоиҳаи “Барқарорсозии НБО-и Норак, марҳилаи 1”
          </label>
          <label>
            <input type="checkbox" id="nine" />Лоиҳаи таҷдиди НБО-и Норак, марҳилаи 2
          </label>
          <label>
            <input type="checkbox" id="ten" />Лоиҳаи «Барномаи солимгардонии молиявии корхонаи энергетикӣ»
          </label>
          <label>
            <input type="checkbox" id="eleven" />“Лоиҳаи энергияи хусусии Помир, марҳилаи 3”
          </label>
          <label>
            <input type="checkbox" id="twelve" />Лоиҳаи "Барномаи рушди соҳаи энергетика"
          </label>
        </div>
      </div>
    </div> 
    <!-- 7 -->
    <div class="block">
      <h1>Нақлиёт / роҳ </h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesSix()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes6 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи беҳтар намудани ҳолати қитъаи роҳ аз ҳайкали А. Сино то дарвозаи
            ғарбии шаҳри Душанбе
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи “Ҳамкории иқтисодии минтақавии Осиёи Марказӣ, роҳравҳои 2, 3 ва 5
            (роҳи автомобилгарди Обигарм-Нуробод), қитъаи 2”
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи “Ҳамкории иқтисодии минтақавии Осиёи Марказӣ, роҳравҳои 2, 3 ва
            5
            (роҳи автомобилгарди Обигарм-Нуробод), қитъаи 1”
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи «Таҷдиди роҳи автомобилгарди Душанбе – Бохтар, марҳилаҳои 1 ва
            2»
          </label>
          <label>
            <input type="checkbox" id="five" />
            Лоиҳаи “Устувории шабакаи роҳҳо”
          </label>
          <label>
            <input type="checkbox" id="six" />Лоиҳаи "Таҷдиди қитъаи Қизилқалъа-Бохтари роҳи автомобилгарди
            Душанбе-Бохтар"
          </label>
          <label>
            <input type="checkbox" id="seven" />Лоиҳаи “Сохтмони долонҳои зиддитармавии иловагӣ дар роҳи
            автомобилгарди
            Душанбе-Хуҷанд-Чанак км 48 то км 80”
          </label>
          <label>
            <input type="checkbox" id="eight" />Лоиҳаи “Сохтмони роҳи автомобилгарди Кулоб – Қалъахумб, қитъаҳои A ва
            F”
          </label>
          <label>
            <input type="checkbox" id="nine" />Лоиҳаи сохтмони нақби автомобилгарди истиқлол, марҳилаи 2
          </label>
          <label>
            <input type="checkbox" id="ten" />Лоиҳаи “Рушди нақлиёти ҷамъиятии шаҳри Хуҷанд”
          </label>
          <label>
            <input type="checkbox" id="eleven" />Лоиҳаи “Рушди нақлиёти ҷамъиятии Хатлон”
          </label>
          <label>
            <input type="checkbox" id="twelve" />Лоиҳаи "Рушди нақлиёти ҷамъиятии шаҳри Душанбе (маблағгузории
            иловагӣ)"
          </label>
        </div>
      </div>

    </div> 
    <!-- 8 -->
    <div class="block">
      <h1>Экология / ҳодисаҳои фавқулода </h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesSeven()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes7 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" />Лоиҳаи “Идоракунии захираҳои обӣ дар ҳавзаи дарёи Панҷ (маблағгузории
            иловагӣ)”
          </label>
          <label>
            <input type="checkbox" id="two" />Барномаи мутобиқгардонӣ ва кам кардани оқибатҳои тағйирёбии иқлим дар
            ҳавзаи Баҳри Арал
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи “Мустаҳкам намудани инфрасохтори муҳим ҷиҳати таъмини устуворӣ
            зидди хатарҳои табиӣ”
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи миллии идоракунии хавфҳои офатҳои табиӣ
          </label>
          <label>
            <input type="checkbox" id="five" />
            Лоиҳаи “Навсозии хизматрасонии обуҳавошиносӣ дар Осиёи Марказӣ, ҷузъи С (маблағгузории иловагӣ)”
          </label>

        </div>
      </div>

    </div> 
    <!-- 9 -->
    <div class="block">
      <h1>Инфраструктураи маҳаллӣ (коммуналӣ) </h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesEight()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes8 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" /> Лоиҳаи «Идоракунии партовҳои сахти маишии шаҳри Турсунзода»
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи «Идоракунии партовҳои сахти маишии шаҳри Хуҷанд, мархилаи 2»
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи «Идоракунии партовҳои сахти маишии шаҳри Бохтар»
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи «Идоракунии партовҳои сахти маишии шаҳри Норак»
          </label>
          <label>
            <input type="checkbox" id="five" />
            Лоиҳаи «Идоракунии партовҳои сахти маишии нохияи Ёвон»
          </label>
          <label>
            <input type="checkbox" id="six" />
            Лоиҳаи “Идоракунии партовҳои сахти маишӣ дар шаҳри Кӯлоб”
          </label>
          <label>
            <input type="checkbox" id="seven" />
            Лоиҳаи «Идоракунии партовҳои сахти маишии шаҳри Хоруғ»
          </label>
        </div>
      </div>
    </div> 
    <!-- 10 -->
    <div class="block">

      <h1>Инфраструктураи маҳаллӣ (коммуналӣ) </h1>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxesNine()">
          <select>
            <option>Лоихахо</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes" [ngStyle]="{display: showCheckboxes9 ? 'block': 'none'}">
          <label>
            <input type="checkbox" id="one" /> Лоиҳаи минтақавии такмили хадамоти наздисарҳадӣ
          </label>
          <label>
            <input type="checkbox" id="two" />Лоиҳаи "Мукаммалгардонии идоракунии молияи давлатӣ, марҳилаи 2"
          </label>
          <label>
            <input type="checkbox" id="three" />Лоиҳаи "Рушди соҳаи сайёҳӣ"
          </label>
          <label>
            <input type="checkbox" id="four" />Лоиҳаи “Рушди иқтисодиёти деҳот”
          </label>
          <label>
            <input type="checkbox" id="five" />
            Лоиҳаи «Таҳкими устувории иҷтимоӣ-иқтисодӣ»
          </label>
        </div>
      </div>

    </div> 
    <!-- 11 -->
  </form>
</div>
