.container {
    min-height: calc(100vh - 480px);

    .title_block {
      margin-top: 42px;

      h1 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        color: #112A4A;
        
      }
    }
}
.navbar { 
    margin: auto;
    position: relative;
    padding: 0 60px;
    .resp-tab {
      width: 100%;
      margin: 50px auto;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      border-collapse: separate;
      border-spacing: 0px 12px;
      .pain {
        tr {
          border-bottom: 1px solid #000;
         
          th {
            height: 70px;
            background-color: #D4DEEA;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #000;
            text-transform: uppercase; 
          }
        }
      }
      
      .pains {
        
        .pt_content {     
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            position: relative;
            width: 218px;
            left: 229px;
            height: 50px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            border: none;
            border-radius: 8px;
            background: #15345C;
            color: #fff;
            cursor: pointer;

            &:active {
              transform: scale(.99);
            }
          }
          .pt_block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .add_block {
          height: 40px;

          td {
            background-color: #fff  !important;
          }

          h1 {
            font-family: 'Roboto', sans-serif !important;
            font-weight: normal !important;
            font-size: 12px !important;
            line-height: 11px !important;
            text-indent: 10px;
            text-align: start;
            color: #000000 !important;
          }

          .addText {
            color: red !important;
            ::placeholder {
              color: red !important;
            }
          }
          
          input {
            margin-top: 5px;
            text-align: start !important;
            text-indent: 10px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
          }
          button {
            float: right;
            width: 96%;
            height: 50px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            border: none;
            border-radius: 8px;
            background: #15345C;
            color: #fff;
            cursor: pointer;

            &:active {
              transform: scale(.99);
            }
          }
        }
        tr {
          .change {
            width: 0;


            .trash_block {
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 65px;
              height: 32px;
              background: #15345C;
              border-radius: 8px;
              cursor: pointer;

              i {
                color: #fff;
                text-indent: 0;
              }
            }

            .trash_block:active {
              transform: scale(.95); 
            }

          }
 
          td {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;

            h1 {
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                color: #202020;
                text-align: start;
                padding: 10px;
            }


            .td_block {
              position: relative;
              display: flex;
              align-items: center;

              h1 {
                text-indent: 0;
                width: 100%;
              }
            }

            form {
              width: 100%;
            }
            
            input {
                border: 0;
                width: 100%;
                outline: none;
            }
 
            span {
              background: rgba(7, 30, 60, 0.5);;
              color: #FFF;
              display: none;
              font-size: 11px;
              font-weight: bold;
              font-family: 'Roboto', sans-serif;
              text-transform: uppercase;
              padding: 5px 10px;
              position: absolute;
              top: 0;
              left: 0;
            }
            &:first-child {
              border: 1px solid #000;
              border-right: 0;
              color: #000;
            }
 
            &:nth-child(2) {
              border: 1px solid #000;
              color: #000;

              h1 {
                text-indent: 0 !important;
                text-align: center !important;
              }
            }
 
            &:nth-child(3) {
              border: none;
            }
          }
        }
      }
    }
    .add_block_son{
      background: #ccc;
      width: 95%; 
      position: absolute;
      right: 0;    
      padding: 10px 0;
    }

     
  }
  .part_block{
    width: 130%;
  }
  .creat {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
 
 @media screen and (max-width: 1461px) {
   .navbar {
     margin: 0px 20px;
   }
 }
  @media(max-width: 961px) {
 
    // .resp-tab thead { 
    //     display: none; 
    // } 
    // .resp-tab tr { 
    //     display: flex; 
    //     flex-direction: row; 
    //     flex-wrap: wrap; 
    //     margin-bottom: 30px; 
    // } 
    // .resp-tab td { 
    //     margin: 0 -1px -1px 0; 
    //     padding-top: 35px; 
    //     position: relative; 
    //     width: 100%; 
    // } 
    // .resp-tab td span { 
    //     display: block; 
    // } 
    // .change{    
    //     justify-content: space-around;    
    // }  
    .navbar {
      margin: 0 20px;
      .resp-tab {
        .pain {
          display: none;
 
          tr {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 30px;
            border: 0;
 
            th {
              &:first-child {
                right: 0;
              }
            }
          }
        }
 
        .pains {
          .add_block {
            border: none;
            margin-bottom: 150px;

            td:nth-child(2) {
              border-top: 1px solid #000 !important;
            }
            
            button {
              width: 250px;
              float: none;
            }

          }

          tr {
            border: 1px solid #071E3C;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 40px;
 
            td {
              margin: 0 -1px -1px 0;
              padding: 15px 0;
              position: relative;
              width: 100%;
              top: 0;
              border: 1px solid #071E3C;
              
              h1 {
                width: 100%;
              }
 
              span {
                display: block;
              }
 
              &:first-child {
                border-right: 1px solid #000;
                background: #fff;
                color: #000;
                padding-bottom: 10px;
                right: 0;
                width: 100%;
                text-indent: 0;
              }
 
              &:nth-child(2) {
                background: #fff;
                color: #000;
                padding-bottom: 10px;
                border-right: 1px solid #000;
              }
 
              &:nth-child(3) {
                display: flex;
                justify-content: center;
                width: 100%;
                background: #fff;
                color: #000;
                padding-bottom: 10px;
              }
 
              &:nth-child(4) {
                display: flex;
                justify-content: center;
                width: 100%;
                background: #fff;
                color: #000;
                border-right: 1px solid #000;
              }
 
              &:nth-child(5) {
                display: flex;
                justify-content: center;
                width: 100%;
                border-right: 0;
              }
              &:nth-child(6) {
                display: flex;
                justify-content: center;
                width: 100%;
                border-right: 0;
              }
              &:nth-child(7) {
                display: flex;
                justify-content: center;
                width: 100%;
                border-right: 0;
              }
            }
          }
        }
      }
    }

    @media(max-width: 460px) {
      .add_block {
        button {
          width: 220px !important;
        }
      }
      .creat {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
    }
 
  }
 