<div class="container">

  <div class="auth_block">
    <h1 class="enter" routerLink="/">Вход</h1>

    <div class="registration_block">
      <h1 class="registration" routerLink="/registration">Регистрация</h1>
      <hr>
    </div>

  </div>

  <form class="form" action="">
    <div class="items_block">
      <label for="text">Имя</label>
      <input type="text" placeholder="Имя">
    </div>

    <div class="items_block regist_block">
      <label for="password">Фамилия</label>
      <input type="password" placeholder="Фамилия">
    </div>

    <div class="items_block regist_block">
      <label for="password">Пароль</label>
      <input type="password" placeholder="Пароль">
    </div>

    <div class="items_block regist_block">
      <label for="password">Отчество</label>
      <input type="password" placeholder="Отчество">
    </div>

    <div class="items_block regist_block">
      <label for="password">Должность</label>
      <input type="password" placeholder="Должность">
    </div>

    <div class="items_block regist_block">
      <label for="password">Наименование компании</label>
      <input type="password" placeholder="Наименование компании">
    </div>

    <div class="items_block regist_block">
      <label for="password">ИНН</label>
      <input type="password" placeholder="ИНН">
    </div>

    <div class="items_block regist_block">
      <label for="password">Место Регистрации</label>
      <input type="password" placeholder="Место Регистрации">
    </div>

    <div class="items_block regist_block">
      <label for="password">Ваш E-mail</label>
      <input type="password" placeholder="Ваш E-mail">
    </div>
    <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
  </form>
</div>
