.lazy-loading_block {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#15345C, 0.7);
}
.lazy-loading_block img {
    width: 60px;
    height: 60px;
}
.container {
    margin: 50px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth_block {
    display: flex;
}
.auth_block .enter {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28,13px;
    color: #15345C;
    cursor: pointer;
}
.registration_block {
    margin-left: 81px;
}
.registration_block h1 {
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28,13px;
    color: #757575;
    cursor: pointer;
}
.registration_block hr {
    padding: 1px 0;
    background-color: #757575;
}
form {
    margin-top: 20px;
}
.items_block {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 280px;
    padding: 5px;
    border: 1px solid #0E131A;
    border-radius: 8px;
}
.items_block label {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-indent: 6px;
    margin-bottom: 2px;
}
.items_block input {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-indent: 6px;
    outline: none;
    border: 0;
}
.regist_block {
    margin-top: 21px;
}

.form button {
    margin-top: 31px;
    width: 100%;
    padding: 13px 0;
    background: #15345C;
    border: 1px solid #0E131A;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}
.form button:active {
    transform: scale(.95);
}