<app-header></app-header>
<div class="content">
    
    <div class="container">
        <div class="blank"> 
            <label  for="">Фамилия <b>*</b></label>
            <input type="text" placeholder="Фамилия" >
            <i  class="fas fa-check"></i> 
        </div>
        <div class="blank">
            <label for="">Имя <b>*</b></label>
            <input type="text" placeholder="Имя">
            <i  class="fas fa-check"></i> 
        </div>
        <div class="blank">
            <label for="">Отчества <b>*</b></label>
            <input type="text" placeholder="Отчества">
            <i  class="fas fa-check"></i> 
        </div>
        <div class="blank">
            <label for="">Должность <b>*</b></label>
            <input type="text" placeholder="Должность">
            <i  class="fas fa-check"></i> 
        </div>
        <div class="blank">
            <label for="">Наименю<br> Компании <b>*</b></label>
            <input type="text" placeholder="Наименю компании">
            <i  class="fas fa-check"></i> 
        </div>
        <div class="blank">
            <label for="">ИНН<b>*</b></label>
            <input type="text" placeholder="ИНН">
            <i  class="fas fa-check"></i> 
        </div>
        <div class="blank">
            <label for="">e-mail <b>*</b></label>
            <input type="text" placeholder="e-mail">
            <i  class="fas fa-check"></i> 
        </div>
        
        <div class="blank">
            <label class="reg" for="">Место<br> регистрация  <b>*</b></label>
            <input type="text" placeholder="Место регистрация ">
            <i  class="fas fa-check"></i> 
        </div>
        
        <div class="blank">
            <label for="">Телефон <b>*</b></label>
            <input type="number" placeholder="Телефон">
            <i  class="fas fa-check"></i> 
        </div>
        <div class="btn__block">
            <button type="submit">отправить</button> 
            <button type="submit">дoбавить избранный</button> 
        </div>
    </div>
</div>  

 