<div class="content">
    <div class="title">
        <div class="title__block">
            <input type="checkbox" name="" id="">Маориф
        </div>
        <div class="title__block">
            <input type="checkbox" name="" id="">Тандурустӣ
        </div>
        <div class="title__block">
            <input type="checkbox" name="" id="">Кишоварзӣ
        </div>
        <div class="title__block">
            <input type="checkbox" name="" id="">Ирригатсия / обёрӣ
        </div>
        <div class="title__block">
            <input type="checkbox" name="" id="">Обтаъминкунӣ 
        </div>
    </div>
    <div class="subtitle"></div>
</div>