<app-header></app-header>
<div class="modal-datas_container" *ngIf="showModal">
  <div class="modal-datas_block">
    <h1 class="title">{{ announcerFormModalData.name }} {{announcerFormModalData.last_name}} {{announcerFormModalData.middle_name }} </h1>

    <div class="modal-items">
      <h1>Занимаемые должности:</h1>
      <h2>{{ announcerFormModalData.division }}</h2>
    </div>

    <div class="modal-items">
      <h1>Наименование компании:</h1>
      <h2>{{ announcerFormModalData.company_name }}</h2>
    </div>

    <div class="modal-items">
      <h1>ИНН:</h1>
      <h2>{{ announcerFormModalData.inn }}</h2>
    </div>

    <div class="modal-items">
      <h1>Место регистрации:</h1>
      <div class="reg_place">
        <h2>1) {{ announcerFormModalData.address_line1 }}</h2>
        <h2>2) {{ announcerFormModalData.address_line2 }}</h2>
        <h2>3) {{ announcerFormModalData.address_line3 }}</h2>
      </div>
    </div>

    <div class="modal-items">
      <h1>email:</h1>
      <h2>{{ announcerFormModalData.email }}</h2>
    </div>

    <div class="modal-items">
      <h1>Телефон:</h1>
      <h2>{{ announcerFormModalData.phone }}</h2>
    </div>

    <div class="modal-items">
      <h1>Страна:</h1>
      <h2>{{ announcerFormModalData.company_country }}</h2>
    </div>

    <div class="modal-items">
      <h1>Город:</h1>
      <h2>{{ announcerFormModalData.town }}</h2>
    </div>

    <div class="modal-items">
      <h1>Почтовый индекс:</h1>
      <h2>{{ announcerFormModalData.postal_code }}</h2>
    </div>

    <div class="btn">
      <button (click)="closeModal()">ВЕРНУТЬСЯ</button>
    </div>

  </div>
</div>
<div class="container_file" *ngIf="showFileModal">
  <div class="block_file">
    <i class="fas fa-times" (click)="closeFileModal()"></i>
    <h1 *ngFor="let fle of dowFile; let idx = index" (click)="download(fle.file)">Файл {{ idx+1 }}</h1>
  </div>
</div>
<div class="container">
  <div class="title_block">
    <h1>Тендеры проекта > <span>Список заявок</span></h1>
  </div>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Компания</th>
          <th colspan="2">Действия</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let announcerForm of announcerFormData">
          <td><span>№</span>1</td>
          <td><span>Компания</span>{{announcerForm.user.subscriber.company_name}}</td>
          <td class="download">
            <span>Действие</span>
            <div class="trash_block" (click)="openModal(announcerForm.user_id)">
              <i class="fas fa-search"></i>
            </div>
          </td>

          <td class="download">
            <span>Действие</span>
            <div class="trash_block" (click)="openFileModal(announcerForm.files)">
              <i class="fas fa-download"></i>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
