<app-header></app-header>
<div class="modal-datas_container" *ngIf="showModal">
  
  <div class="modal-datas_block">   
    <div class="close" (click)="closeModal()">
      <i class="fa fa-times"></i>
    </div>
    <div class="cont__form"> 
        <form >
          <h3>Прикрепите файл</h3>
          <div class="form__block"> 
            <div class="inp__block"> 
              <div class="inp">
                <h1>Название файл</h1>
                <input type="text" placeholder="Название файл">
              </div>
            </div>
            <div class="inp__block"> 
              <div class="inp fileName">
                <h1>{{ fileNames }}</h1>
                <img src="assets/img/file.svg" alt="">
                <input type="file">
              </div>
            </div>
          </div>
        </form>
        <button>Отправить</button>
    </div>
    
  </div>

</div>
<div class="container">
  <div class="title_block">
    <h1>Файлы план закупок</h1>
    <h1>Файлы шоппинг</h1>
    <h1>Файлы тендерные документы</h1>
    <h1>Файлы контракты</h1>
    <h1>Файлы соглашение</h1>
    <div class="block__trush" (click)="openModal()">
      <i class="td_i fa fa-plus"></i>
    </div>
  </div>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название <br> проекта/тендера</th>
          <th>Название Файла</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train">
          <td><span>№</span>1</td>
          <td><span>Название проекта/тендера</span>2</td>
          <td><span>Название Файла</span>3</td>
          <td class="download" style="width: 10px;">
            <div class="items" style="display: flex;">
              <span>Действие</span>
              <div class="icons_block">
                <i class="fas fa-download"></i>
              </div>

              <div class="icons_block">
                <i class="fas fa-trash"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button>Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
