<app-header></app-header>
<div class="container">
  <div class="title_block">
    <h1>Файлы</h1>
  </div>
  
  <div class="navbar">
    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>НАЗВАНИЕ <br> ПРОЕКТА/ТЕНДЕРА </th>
          <th>Действия</th> 
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let announcer of resulData">
          <td><span>№</span>{{announcer.anouncement_id}}</td>
          <td><span>Название проекта/тендера</span>{{ announcer.project_name }}/{{ announcer.name }}</td>  
          <td class="change">
            <div class="trash_block"  >
              <i class="td_i fa fa-plus"></i>
            </div>
            <div class="trash_block"  >
              <i class="td_i fas fa-download"></i>
            </div>
            <div class="trash_block"  >
              <i class="fa fa-trash"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>

