<app-loading *ngIf="isLoading"></app-loading>
<app-header></app-header>
<div class="container_file" *ngIf="showFileModal">
  <div class="block_file">
    <i class="fas fa-times" (click)="closeFileModal()"></i>
    <h1 *ngFor="let fle of dowFile; let idx = index" (click)="download(fle.file)">Файл {{ idx+1 }}</h1>
  </div>
</div>
<div class="modal-datas_container" *ngIf="showModal">
  
  <div class="modal-datas_block">   
    <div class="close" (click)="closeModal()">
      <i class="fa fa-times"></i>
    </div>
    <div class="cont__form"> 
        <form [formGroup]="fileForm">
          <h3>Прикрепите файл</h3>
          <div class="form__block"> 
            <div class="inp__block">
              <div class="inp">
                <h1>Название файла</h1>
                <input type="text" placeholder="Название файла" formControlName="name">
              </div>
            </div>
            <div class="inp__block"> 
              <div class="inp fileName">
                <h1>{{ fileNames }}</h1>
                <img src="assets/img/file.svg" alt="">
                <input type="file" accept=".pdf, .xlsx, .xls, .docx, .doc" (change)="getFile($event)" formControlName="file">
              </div>
            </div>
            <div class="inp__block">
              <div class="inp">
                <h1>Проект</h1>
                <select formControlName="projects">
                  <option *ngFor="let projects of projectData" [value]="projects.project_id">{{ projects.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
        <button (click)="sendFiles()" [disabled]="fileForm.invalid" [ngStyle]="{'opacity': fileForm.invalid ? '.5' : '1'}">Отправить</button>
    </div>
    
  </div>

</div>
<div class="container">
  <div class="title_block">
    <h1 *ngIf="pageId == 1">Файлы планов закупок</h1>
    <h1 *ngIf="pageId == 2">Файлы шоппингов</h1>
    <h1 *ngIf="pageId == 3">Файлы тендерных документов</h1>
    <h1 *ngIf="pageId == 4">Файлы контрактов</h1>
    <h1 *ngIf="pageId == 5">Файлы соглашений</h1>
    <div class="block__trush" (click)="openAddFileModal()">
      <i class="td_i fa fa-plus"></i>
    </div>
  </div>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название <br> проекта/тендера</th>
          <th>Название Файла</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let files of fileData">
          <td><span>№</span>{{ files.anouncer_file_id }}</td>
          <td><span>Название проекта/тендера</span>{{ files.project?.name }}</td>
          <td><span>Название Файла</span> {{ files.name }} </td>
          <td class="download" style="width: 10px;">
            <div class="items" style="display: flex;">
              <span>Действие</span>
              <div class="icons_block" (click)="openFileModal(files.path)">
                <i class="fas fa-download" ></i>
              </div>

              <div class="icons_block" (click)="deleteFiles(files.anouncer_file_id)">
                <i class="fas fa-trash"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button>Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
