<div class="lazy-loading_block" *ngIf="isLoading">
  <img src="assets/img/loader.gif" alt="">
</div>

<div class="container">

  <div class="auth_block">
    <div class="enter_block">
      <h1 class="enter">Вход</h1>
      <hr>
    </div>
    
    <h1 class="registration" routerLink="/registration">Регистрация</h1>
  </div>

  <form class="form" action="" [formGroup]="form" (ngSubmit)="send()">
    <div class="items_block">
      <label for="text">Логин</label>
      <input type="text" [placeholder]="showAlertLogin" *ngIf="showAlertLogin"  formControlName="login">
    </div>

    <div class="items_block password_block">
      <label for="password">Пароль</label>
      <input type="password" [placeholder]="showAlertPassword" *ngIf="showAlertPassword" formControlName="password">
    </div>
    <button type="submit">ВОЙТИ</button>
  </form>
</div>
