<app-loading *ngIf="isLoading"></app-loading>
<div class="container">
  <div class="auth_block">
    <div class="enter_block">
      <h1 class="enter">Вход</h1>
      <hr>
    </div>

    <h1 class="registration" routerLink="/registration">Регистрация</h1>
  </div>

  <form class="form" action="" [formGroup]="form" (ngSubmit)="send()">
    <div class="items_block">
      <label for="text">Ваш E-mail</label>
      <input type="text" [placeholder]="showAlertEmail" *ngIf="showAlertEmail" formControlName="email">
    </div>

    <div class="items_block password_block">
      <label for="password">Пароль</label>
      <input type="password" [placeholder]="showAlertPassword" *ngIf="showAlertPassword" formControlName="password">
    </div>
    <button type="submit">ВОЙТИ</button>
  </form>
  <div class="forget_block" routerLink="/forget">
    <h1>Забыли пароль ?</h1>
  </div>
</div>
