<app-header></app-header>
<div class="container_file" *ngIf="showFileModal">
  <div class="block_file">
    <i class="fas fa-times" (click)="closeModal()"></i>
    <h1 *ngFor="let fle of dowFile; let idx = index" (click)="download(fle.file)">Файл {{ idx+1 }}</h1>
  </div>
</div>
<div class="container">
  <div class="navbar">
    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>№</th>
          <th>Название <br> Проекта\тендера </th>
          <th>Стоимость</th>
          <th>ID <br> Пользователя</th>
          <th>Название <br> Компании</th>
          <th>Статус <br> Оплаты</th>
          <th>Проверка</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let payment of paymentsData">
          <td>1</td>
          <td [ngStyle]="{'background': payment.status>0 ? '' : '#97BBEB'}"><span>Название Проекта\тендера</span>{{payment.name}}</td>
          <td [ngStyle]="{'background': payment.status>0 ? '' : '#97BBEB'}"><span>Стоимость</span>{{payment.price}}</td>
          <td [ngStyle]="{'background': payment.status>0 ? '' : '#97BBEB'}"><span>ID Пользователя</span>{{payment.users_id}}</td>
          <td [ngStyle]="{'background': payment.status>0 ? '' : '#97BBEB'}"><span>Статус Оплаты</span>{{payment.name}}</td>
          <td>
            <span>Проверка</span>
            <input type="checkbox" class="checkbox" (change)="statusChange($event, payment.payment_id)">
          </td>
          <td class="change">
            <div class="trash_block" (click)="openModal(payment.payment_files)">
              <i class="td_i fas fa-search"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
