<app-loading *ngIf="isLoading"></app-loading>
<app-header></app-header>
<div class="container">
  <div class="title_block">
    <h1>Тендеры проекта > <span>Изменить тендер</span></h1>
  </div>

  <form class="form" [formGroup]="editAnnouncerForm">
    <div class="items_block">
      <label for="text">Название</label>
      <input type="text" formControlName="name">
    </div>

    <div class="items_block regist_block">
      <label for="number">Номер пакета</label>
      <input type="text" formControlName="project_center_anouncement_id">
    </div>

    <div class="items_block regist_block">
      <label for="text">Метод проведения</label>
      <input type="text" formControlName="procurement_method">
    </div>

    <div class="items_block regist_block">
      <label for="select">Тип проведения</label>
      <select style="border: none; outline: none; font-family: Roboto, sans-serif; text-indent: 5px;" formControlName="type_of_procurement">
        <option>одноэтапный</option>
        <option>двухэтапный</option>
      </select>
    </div>

    <div class="items_block regist_block">
      <label for="date">Дата проведения</label>
      <input type="date" style="text-indent: 3px;" formControlName="open_date">
    </div>

    <div class="items_block regist_block">
      <label for="select">Время</label>
      <select style="border: none; outline: none; font-family: Roboto, sans-serif; text-indent: 5px;" formControlName="open_time">
        <option>09:00</option>
        <option>10:00</option>
        <option>11:00</option>
        <option>14:00</option>
        <option>15:00</option>
      </select>
    </div>


    <div class="items_block regist_block">
      <label for="file">Файл обявления</label>
      <div class="file_block">
        <h1>{{  privateFileName }}</h1>
        <input type="file" accept=".zip" formControlName="privateFiles" (change)="privateSelectFiles($event)">
        <img src="assets/img/file.svg" alt="">
      </div>
    </div>

    <div class="items_block regist_block">
      <label for="file">Файл тендерного документа</label>
      <div class="file_block">
        <h1>{{  publicFileName }}</h1>
        <input type="file" accept=".zip" formControlName="publicFiles" (change)="publicSelectFiles($event)">
        <img src="assets/img/file.svg" alt="">
      </div>
    </div>

    <div class="items_block regist_block">
      <label for="number">Колличество лотов</label>
      <input type="number" formControlName="number_of_lots">
    </div>

    <div class="items_block regist_block">
      <label for="number">Стоимость тендерного документа</label>
      <input type="number" formControlName="price">
    </div>

    <div class="items_block regist_block">
      <label for="number">Проекты</label>
      <select formControlName="project">
        <option *ngFor="let editProject of editProjectsData" [value]="editProject.project_id">{{ editProject.name }}</option>
      </select>
    </div>

    <button (click)="chageEditLots()">ИЗМЕНИТЬ</button>
  </form>
</div>
<app-footer-page></app-footer-page>
