.container {
    min-height: calc(100vh - 479px);
    margin: 0 20px;
}
.navbar {
    max-width: 1430px;
    margin: 40px auto 0 auto;

    .title {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #112A4A;
    }
 
    .resp-tab {
      margin-top: 25px;
      width: 100%;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      border-collapse: separate;
      border-spacing: 0px 12px;

      .pain {
        tr {
          border-bottom: 1px solid #000;
         
          th {
            height: 70px;
            background-color: #D4DEEA;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #000;
            text-transform: uppercase; 
          }
        }
      }
 
      .pains {
        tr {
            .change {
                width: 0;
    
                .trash_block {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 65px;
                  height: 32px;
                  background: #15345C;
                  border-radius: 8px;
                  cursor: pointer;
    
                  i {
                    color: #fff;
                  }
                }
    
                .trash_block:active {
                  transform: scale(.95); 
                }
    
            }

            input {
                width: 48px;
                height: 48px;
                border-width: 1px;
              }
 
          td {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;

            span {
                background: rgba(7, 30, 60, 0.5);;
                color: #FFF;
                display: none;
                font-size: 11px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                padding: 5px 10px;
                position: absolute;
                top: 0;
                left: 0;
              }
 
            &:first-child {
              padding: 0 10px;
              height: 48px;
              color: #000;
              background-color: rgba(7, 30, 60, 0.5);;
              border: 1px solid #000;
            }
 
            &:nth-child(2) {
              border: 1px solid #000;
              border-right: 0;
              border-left: 0;
              color: #000;
            }
 
            &:nth-child(3) {
              border: 1px solid #000;
              color: #000;
            }
 
            &:nth-child(4) {
              border: 1px solid #000;
              border-right: 0;
              border-left: 0;
              color: #000;
            }
 
            &:nth-child(5) {
              border: 1px solid #000;
              color: #000;
            }
 
            &:nth-child(6) {
              border: 1px solid #000;
              border-left: none;
              color: #000;
            }
            
            &:nth-child(7) {
                border: 1px solid #000;
                border-left: none;
                color: #000;
            }

            &:nth-child(8) {
                border: 1px solid #000;
                border-left: none;
                color: #000;
            }

            &:nth-child(9) {
                border: 1px solid #000;
                border-left: none;
                color: #000;
            }
            &:nth-child(10) {
              display: none;
              width: 15px;
            }
          }
        }
      }
    }
  }
 
  .creat {
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
 
    button {
      height: 30px;
      padding: 5px 30px;
      border: 0;
      border-radius: 15px;
      background-color: #333;
      color: #fff;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      cursor: pointer;
 
      &:active {
        transform: scale(.95);
      }
    }
  }
 
 
  @media(max-width: 961px) {
      .content {
          margin: 20px 0 0 0;
      }
      .about_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .user_name {
        margin: 0;
        text-align: center;
    }
    .content, .payment_block {
        flex-direction: column;
        align-items: center;
    }
    // .payment_block {
    //     margin: 50px 0 0 0;
    // }
    // .balance_items h1 {
    //     text-align: center;
    // }
    // .replenish_items h1 {
    //     text-align: center;
    // }
    // .phone_items {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }
    // .phone_items .phone {
    //     width: 100%;
    // }
    // .phone_items .summa {
    //     margin: 15px 0 0 0;
    //     width: 100%;
    // }
    // .payment_block button {
    //     width: 100%;
    // }
    .navbar {
      margin: 50px 20px;
      .resp-tab {
        .pain {
            display: none;
   
            tr {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              margin-bottom: 30px;
              border: 0;
   
              th {
                &:first-child {
                  right: 0;
                }
              }
            }
          }
        .pains {
          tr {
            border: 1px solid #000;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 40px;

            input {
                margin: 15px auto;
            }
 
            td {
              margin: 0 -1px -1px 0;
              padding-top: 35px;
              position: relative;
              width: 100%;
              top: 0;
              border: 1px solid #071E3C;

              span {
                display: block;
              }

              &:first-child {
                background: #fff;
                color: #000;
                padding: 20px 0;
              }
 
              &:nth-child(2) {
                background: #fff;
                color: #000;
                padding: 20px 0;
              }
 
              &:nth-child(3) {
                background: #fff;
                color: #000;
                padding: 20px 0;
              }
 
              &:nth-child(4) {
                background: #fff;
                color: #000;
                padding: 20px 0;
 
              }
 
              &:nth-child(5) {
                background: #fff;
                color: #000;
                padding: 20px 0;
              }
 
              &:nth-child(6) {
                background: #fff;
                color: #000;
                padding: 20px 0;
              }
 
              &:nth-child(7) {
                width: 100%;
                display: flex;
                justify-content: center;
                color: #000;
                padding: 20px 0;
              }
            }
          }
        }
      }
    }
 
  }