<app-loading *ngIf="isLoading"></app-loading>
<app-header></app-header>
<div class="container">
  <div class="navbar">
    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>ID</th>
          <th>Название <br> проекта</th>
          <!-- <th>Название <br> тендера</th> -->
          <th>Номер пакета</th>
          <th>Тип <br> проведения</th>
          <th>Метод <br> проведения</th>
          <th>Лоты</th> 
          <th>Стоимость <br> тендерного <br> документа</th>
          <th>Дата <br> открытия</th>
          <th>Время</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let order of orderData | paginate: {itemsPerPage: 10, currentPage: page}; let idx = index">
          <td>{{ idx + 1 }}</td>
          <td><span>Название проекта</span>{{order.anouncement.name}}</td>
          <!-- <td><span>Название тендера</span>{{order.projects.name}}</td> -->
          <td><span>ID</span>{{ order.order_id }}</td>
          <td><span>Номер пакета</span>{{ order.anouncement.project_center_anouncement_id }}</td>
          <td><span>Тип проведения</span>{{ order.anouncement.type_of_procurement }}</td>
          <td><span>Метод проведения</span>{{ order.anouncement.procurement_method }}</td>
          <td><span>Лоты</span>{{ order.anouncement.number_of_lots }}</td>
          <td><span>Дата открытия</span>{{ order.anouncement.open_date }}</td>
          <td><span>Время</span>{{ order.anouncement.price }}</td>
          <td><span>Действия</span>
            <i class="far fa-eye" [routerLink]="['/subscriberorderslot', order.order_id]"></i>
            <i class="far fa-edit" [routerLink]="['/subscriberorderslotchange', order.order_id]"></i>
            <i class="fas fa-trash" (click)="deleteOrder(order.order_id)"></i>
          </td>
          <!-- <td>
            <span>Cтатус проверки</span>
            <input type="checkbox" onclick="return false" [checked]='showfull' class="checkbox">
          </td> -->
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
