
.navbar{   
    padding: 30px;    
}

.resp-tab {
    width: 100%;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
    margin: 0 auto ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;   
}
.resp-tab th, .resp-tab td {
    padding: 10px 10px;
    font-size: 14px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #1e5bac;
} 
.resp-tab th {
    color: #FFF;
    background: #1e5bac;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #dddddd; 
    text-transform: uppercase;   
    text-align: center;   
    font-size: 14px;
}
.resp-tab tr:nth-child(even) {
    background: #c2d4eb;
} 
.resp-tab td span {
    background: #1e5bac;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;   
    text-transform: uppercase;       
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;   
}
.fa-download, .fa-star, .fa-file-alt{
    color: #000;  
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
} 
 
.fa:active, .far:active, .fas:active{
    transform:scale(.9);
}
.change{  
    display: flex;
    justify-content: space-between;   
}

.creat {
    max-width: 100%;
    margin: 30px auto; 
}
.creat button {
    padding: 5px 30px;
    border: 0;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.creat button:active {
    transform: scale(.95);
} 

@media(max-width: 1200px) {
    .resp-tab thead {
        display: none;
    }
    .resp-tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp-tab td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 100%;
    }
    .resp-tab td span {
        display: block;
    }
    .change{   
        justify-content: space-around;   
    }
}
 
 
overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed; 
    height: 400px;
    border: 1px solid #383838;
    background: #fefefe; 
    border-radius: 4px;
    font: 14px/18px, Arial, sans-serif; 
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3); 
    transform: translate(-50%, -500%); 
    transition: transform 0.6s ease-out;
}
.overlay:target+.popup { 
    transform: translate(-50%, 0);
    top: 25%;
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 1px solid #ccc; 
    border-radius: 15px;
    background-color: #000; 
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold; 
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
 

 
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.auth__block {
    width: 270px;
}
form {
    display: flex;
    flex-direction: column;
}
 
input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 0;
    outline: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300; 
    background: #E8F0FE;
}
.submit {
    padding: 5px;
    border-radius: 15px;
    border: 0;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    &:active {
        transform: scale(.9);
    }
}
 
.reg{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    a{
        text-decoration: none;
        color:#000;
        cursor: pointer;
        &:hover{ 
            color:red;
        }
    }
}