<app-loading *ngIf="isLoading"></app-loading>
<div class="modal_check" *ngIf="modalCheck">
  <div class="modal_check-items_block">
    <i class="fas fa-times" (click)="modalCheck = false"></i>
    <div class="modal_check_items">
      <h1 class="title">Требуется прикрепить чек об оплате </h1>

      <div class="check_input">
        <h1 class="title_input">Чек</h1>
        <div class="check_input-item">
          <h1 class="description">{{filName}}</h1>
          <img src="assets/img/file.svg" alt="">
          <input type="file" accept=".zip" (change)="getFile($event)">
        </div>
      </div>
      <button (click)="modalSend()">Отправить</button>
    </div>
  </div>
</div>
<div class="container_file" *ngIf="showFileModal">
  <div class="block_file">
    <i class="fas fa-times" (click)="closeModal()"></i>
    <h1 *ngFor="let fle of dowFile; let idx = index" (click)="download(fle.file)">{{ fle.name }}</h1>
  </div>
</div>
<app-header></app-header>
<div class="container">
  <div class="title_block">
    <h1>Объявления</h1>
  </div>
  <div class="navbar">

    <table class="resp-tab">
      <thead class="pain">
        <tr>
          <th>ID</th>
          <th>Название <br> проекта</th>
          <th>Название <br> тендера</th>
          <th>Номер пакета</th>
          <th>Тип <br> проведения</th>
          <th>Метод <br> проведения</th>
          <th>Лоты</th> 
          <th>Стоимость тендерного <br> документа</th>
          <th>Дата <br> открытия</th>
          <th>Время</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody class="pains">
        <tr class="train" *ngFor="let anouncements of anouncement | paginate: {itemsPerPage: 10, currentPage: page}; let idx = index">
          <td><span>ID</span>{{ anouncements.anouncement_id }}</td>
          <td><span>Название проекта</span>{{ anouncements.project?.name }}</td>
          <td><span>Название тендера</span>{{ anouncements.name }}</td>
          <td><span>Номер пакета</span>{{ anouncements.project_center_anouncement_id }}</td>
          <td><span>Тип проведения</span>{{ anouncements.type_of_procurement }}</td>
          <td><span>Метод проведения</span>{{ anouncements.procurement_method }}</td>
          <td><span>Лоты</span>{{ anouncements.number_of_lots }}</td>
          <td><span>Стоимость тендерного документа</span>{{ anouncements.price }}</td>
          <td><span>Дата <br> открытия</span>{{ anouncements.open_date }}</td>
          <td><span>Время</span>{{ anouncements.open_time }}</td>
          <td rowspan="5" class="change">
            <i title="скачать файл" class="fa fa-download" *ngIf="(anouncements.payments.length > 0 && anouncements.payments[0]?.status>1) || anouncements.price < 1" (click)="openModal(anouncements.anouncement_public_file, anouncements.anouncement_id)"></i>
            <i title="файл лбъявления" class="far fa-file-pdf" (click)="openAnnounce(anouncements.anouncement_private_file)"></i>
            <i class="fas fa-dollar-sign"  *ngIf="anouncements.payments[0]?.status==1 || (anouncements.payments.length < 1 && anouncements.price > 1)" (click)="modalOpen(idx)"></i>
            <i class="fas fa-undo-alt" *ngIf="anouncements.payments.length > 0 && anouncements.payments[0]?.status==null"></i>
            <i title="добавить избранный " class="fas fa-star" [ngStyle]="{color: anouncements.favorites_exists>0 ? 'orange': '#4F4F4F'}" (click)="star(anouncements.favorites_exists, anouncements.anouncement_id)"></i>
            <i [routerLink]="['/application', anouncements.anouncement_id]" class="far fa-file-alt" *ngIf="(anouncements.payments.length > 0 && anouncements.payments[0]?.status>1) || anouncements.price < 1"></i>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="creat">
      <!-- <button >Создать</button> -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
