<div class="navbar">
  
    <table class="resp-tab">
      <thead>
          <tr>
            <th>Ташкилотчии тендер</th>
            <th>Номи Лоиха</th>
            <th>Мавзуи тендер</th>
            <th>Мухлати охири кабули хуччатхо</th>
            <th>Матни пурраи эълон</th> 
            <th>Операция</th> 
          </tr>
      </thead> 
      <tbody>
          <tr >
              <td><span>Ташкилотчии тендер</span>Lorem ipsum dolor sit.</td>
              <td><span> Номи Лоиха</span> Lorem ipsum dolor sit.</td>
              <td><span>Мавзуи тендер</span> Lorem ipsum dolor sit.</td>
              <td><span>Мухлати охири кабули хуччатхо </span> Lorem ipsum dolor sit.</td>
              <td><span>Матни пурраи эълон </span> Lorem ipsum dolor sit.</td> 
              <td class="change"><span>Изменение </span>
                <i title="скачать файл" class="fa fa-download"></i>
                <i title="добавить избранный " (click)="colorChange = !colorChange" class="fas fa-star" [ngStyle]="{color: colorChange ? 'orange': 'black'}" ></i> 
                <a href="#win1" class="far fa-file-alt"></a>
                <a href="#x" class="overlay" id="win1"></a>
                <div class="popup">  
                    <a class="close"title="Закрыть" href="#close"></a>
                    <div class="container"></div>
                </div>
              </td>
          </tr> 
      </tbody>
  </table> 
    <div class="creat">
      <button >Создать</button>
    </div>  
  </div>
