<app-header></app-header>
<div class="container">
  <form class="form">
    <h1 class="title">Добавить проект</h1>
    <div class="items_block">
      <h1>Название</h1>
      <input type="text" placeholder="Название">
    </div>

    <div class="items_block">
      <h1>Логин</h1>
      <input type="text" placeholder="Логин">
    </div>

    <div class="items_block">
      <h1>Пароль</h1>
      <input type="text" placeholder="Пароль">
    </div>
    <button>Добавить</button>
  </form>
</div>
<app-footer-page></app-footer-page>
