/*.container {
    max-width: 800px; 
    margin:100px auto 209px;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;  
    .content{
        margin-top: 20px;
    }
}

.menu {
    display: none;
    margin-left: 30px;
     label{
         display: flex;
         align-items: center;
         margin-top: 20px;
     }
}
[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 10px;
}
[type="checkbox"]:checked {
  &~.menu {
    display: block;
  }
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  cursor: pointer; 
}
 
*/


.resp-tab {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 90%;
  max-width: 100%;
  margin: 100px auto;
}
.resp-tab th, .resp-tab td {
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  font-family: Verdana, sans-serif;   
  border: 1px solid #337AB7;
  vertical-align: top;
}
.cont{ 
    background: #ccc; 
}
.resp-tab th {
  color: #FFF;
  background: #337AB7;
  font-weight: bold;
  border: 1px solid #1a4a73;   
  text-transform: uppercase;   
  text-align: center;   
}
.resp-tab tr:nth-child(even) {
  background: #fff;
}
.resp-tab td span {
  background: #337AB7;
  color: #FFF;
  display: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;   
  text-transform: uppercase;       
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;   
}
@media(max-width: 768px) {
  .resp-tab thead {
      display: none;
  }
  .resp-tab tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 30px;
  }
  .resp-tab td {
      margin: 0 -1px -1px 0;
      padding-top: 35px;
      position: relative;
      width: 50%;
  }
  .resp-tab td span {
      display: block;
  }
}
@media(max-width: 480px) {
  .resp-tab td {
      width: 100%;
  }
}
