<app-loading *ngIf="isLoading"></app-loading>
<app-header></app-header>
<div class="container">
  <div class="title_block">
    <h1>Тендеры проекта > <span>Добавить тендер</span></h1>
  </div>

  <form class="form" [formGroup]="formTender">
    <div class="items_block" [ngStyle]="{border: formTender.get('name').invalid && formTender.get('name').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="text">Название</label>
      <input type="text" [placeholder]="showAlertName" formControlName="name">
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('centerID').invalid && formTender.get('centerID').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="number">Центр ID</label>
      <input type="number" [placeholder]="showAlertCenterID" formControlName="centerID">
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('method').invalid && formTender.get('method').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="text">Метод</label>
      <input type="text" [placeholder]="showAlertMethod" formControlName="method">
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('sendType').invalid && formTender.get('sendType').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="select">Тип проведения</label>
      <select style="border: none; outline: none; font-family: Roboto, sans-serif; text-indent: 5px;" formControlName="sendType">
        <option>одноэтапный</option>
        <option>двухэтапный</option>
      </select>
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('sendDate').invalid && formTender.get('sendDate').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="date">Дата проведения</label>
      <input type="date" style="text-indent: 3px;" formControlName="sendDate">
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('sendDate').invalid && formTender.get('sendDate').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="date">Тайм</label>
      <select style="border: none; outline: none; font-family: Roboto, sans-serif; text-indent: 5px;" formControlName="open_time">
        <option>9:00</option>
        <option>10:00</option>
        <option>11:00</option>
        <option>14:00</option>
        <option>15:00</option>
      </select>
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('file').invalid && formTender.get('file').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="file">Публичный файл</label>
      <div class="file_block">
        <h1>{{showAlertFile}}</h1>
        <input type="file" accept=".pdf" (change)="getFile($event)" formControlName="file">
        <img src="assets/img/file.svg" alt="">
      </div>
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('publicFile').invalid && formTender.get('publicFile').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="file">Приватный файл</label>
      <div class="file_block">
        <h1>{{showAlertPublicFile}}</h1>
        <input type="file" accept=".pdf" (change)="getPublicFile($event)" formControlName="publicFile">
        <img src="assets/img/file.svg" alt="">
      </div>
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('lots').invalid && formTender.get('lots').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="number">Колличество лотов</label>
      <input type="number" [placeholder]="showAlertLots" formControlName="lots">
    </div>

    <div class="items_block regist_block" [ngStyle]="{border: formTender.get('price').invalid && formTender.get('price').touched ? '1px  solid red' : '1px  solid #000'}">
      <label for="number">Взнос</label>
      <input type="number" [placeholder]="showAlertPrice" formControlName="price">
    </div>

    <div class="items_block regist_block">
      <label for="number">Проекты</label>
      <select formControlName="project">
        <option *ngFor="let projects of projectsData" [value]="projects.project_id">{{ projects.name }}</option>
      </select>
    </div>

    <button  (click)="send()">ДОБАВИТЬ ЛОТ</button>

  </form>
</div>
<app-footer-page></app-footer-page>
