<app-header></app-header>
<div class="container">
    <h1 class="user_name">{{ userData.name + ' ' +  userData.last_name + ' ' + userData.middle_name}}</h1>

    <div class="content">
        <div class="about_block">

            <div class="user_img">
                <input type="file" class="photo" (change)="getFilePhoto($event)">
                <img [src]="getPhoto" *ngIf="userImage" alt="">
                <i class="far fa-user fa-6x" *ngIf="userIcon"></i>
            </div>

            <div class="items_parent">
                <h1 class="title">Занимаемые должности:</h1>
                <h1 class="description">{{ userData.division }}</h1>
            </div>

            <div class="items_block">
                <h1 class="title">Наименование компании:</h1>
                <h1 class="description">{{ userData.company_name }}</h1>
            </div>
            
            <div class="items_block">
                <h1 class="title">ИНН:</h1>
                <h1 class="description">{{ userData.inn }}</h1>
            </div>

            <div class="items_block">
                <h1 class="title">email:</h1>
                <h1 class="description">{{ userData.email }}</h1>
            </div>

            <div class="items_block">
                <h1 class="title">Место рождения:</h1>
                <h1 class="description">{{ userData.birth_city }}</h1>
            </div>

            <div class="items_block">
                <h1 class="title">Телефон:</h1>
                <h1 class="description">{{ userData.phone }}</h1>
            </div>

            <button>Редактировать</button>

        </div>

        <!-- <div class="payment_block">

            <div class="balance_items">
                <h1 class="balance">Баланс:</h1>
                <h1 class="summa">1916,74 TJS</h1>
            </div>

            <div class="replenish_items">
                <h1 class="replenish">Пополнение баланса со счета Alif mobi:</h1>
                <h1 class="commission">Комиссия за пополнение - 0%</h1>
            </div>

            <form action="" class="phone_items">
                <input class="phone" type="number" placeholder="Телефон">
                <input class="summa" type="number" placeholder="Сумма">
            </form>

            <button>Продолжить</button>

        </div> -->
    </div>
</div>
<app-footer-page></app-footer-page>