<app-header></app-header>
<div class="container">
  <h1 class="user_name">{{ userData.name + ' ' +  userData.last_name + ' ' + userData.middle_name}}</h1>

  <div class="content">
    <div class="about_block">
      <div class="user_img">
        <input type="file" class="photo" (change)="getFilePhoto($event)">
        <img [src]="getPhoto" *ngIf="userImage" alt="">
        <i class="far fa-user fa-6x" *ngIf="userIcon"></i>
      </div>

      <form [formGroup]="editForm">
        <div class="items_parent">
          <h1 class="title">Занимаемые должности:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.division }}</h1>
          <input type="text" class="edit_block" *ngIf="editDatas" [placeholder]="userData.division" formControlName="division">
        </div>

        <div class="items_block">
          <h1 class="title">Наименование компании:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.company_name }}</h1>
          <input type="text" class="edit_block" *ngIf="editDatas" [placeholder]="userData.company_name" formControlName="company_name">
        </div>

        <div class="items_block">
          <h1 class="title">ИНН:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.inn }}</h1>
          <input type="number" class="edit_block" *ngIf="editDatas" [placeholder]="userData.inn" formControlName="inn">
        </div>

        <div class="items_block">
          <h1 class="title">email:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.email }}</h1>
          <input type="text" class="edit_block" *ngIf="editDatas" placeholder="E-mail" formControlName="email">
        </div>

        <div class="items_block">
          <h1 class="title">Место рождения:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.birth_city }}</h1>
          <input type="text" class="edit_block" *ngIf="editDatas" [placeholder]="userData.birth_city" formControlName="birth_city">
        </div>

        <div class="items_block">
          <h1 class="title">Место регистрация компании:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.birth_city }}</h1>
          <input type="text" class="edit_block" *ngIf="editDatas" [placeholder]="userData.birth_city" formControlName="regCompany">
        </div>

        <div class="items_block">
          <h1 class="title">Телефон:</h1>
          <h1 class="description" *ngIf="showDatas">{{ userData.phone }}</h1>
          <input type="number" class="edit_block" *ngIf="editDatas" [placeholder]="userData.phone" formControlName="phone">
        </div>
      </form>

      <button (click)="edit()" *ngIf="showDatas">Редактировать</button>
      <button (click)="change()" *ngIf="editDatas">Изменить</button>
    </div>

    <!-- <div class="payment_block">

            <div class="balance_items">
                <h1 class="balance">Баланс:</h1>
                <h1 class="summa">1916,74 TJS</h1>
            </div>

            <div class="replenish_items">
                <h1 class="replenish">Пополнение баланса со счета Alif mobi:</h1>
                <h1 class="commission">Комиссия за пополнение - 0%</h1>
            </div>

            <form action="" class="phone_items">
                <input class="phone" type="number" placeholder="Телефон">
                <input class="summa" type="number" placeholder="Сумма">
            </form>

            <button>Продолжить</button>

        </div> -->


        <div class="navbar" *ngIf="showApl"> 
          <h1 class="title">Мои Заявки</h1>

          <table class="resp-tab" >  
            <tbody class="pains"> 
                <tr class="train" *ngFor="let anouncements of anouncement | paginate: {itemsPerPage: 6, currentPage: page}"> 
                  <td>{{anouncements.id}}</td> 
                    <td>{{anouncements.title }}</td> 
                    <td>{{ anouncements.userId }}</td> 
                    <td>Lorem ipsum dolor sit.</td> 
                    <td>Lorem ipsum dolor sit.</td>
                    <td>Lorem ipsum dolor sit.</td>  
                    <input type="checkbox" class="checkbox">
                </tr>
            </tbody> 
        </table> 
        
          <div class="creat"> 
            <!-- <button >Создать</button> --> 
            <pagination-controls (pageChange)="page = $event"></pagination-controls> 
          </div>    
        </div>
        
  </div>
</div>
<app-footer-page></app-footer-page>
