<app-header></app-header>
<div class="container">
    <h1 class="user_name">Рахмонов Рахмон Рахмонович</h1>

    <div class="content">
        <div class="about_block">

            <div class="user_img">
                <img src="assets/img/photo.jpg" alt="">
            </div>

            <div class="items_parent">
                <h1 class="title">Занимаемые должности:</h1>
                <h1 class="description">Должность</h1>
            </div>

            <div class="items_block">
                <h1 class="title">Наименование компании:</h1>
                <h1 class="description">Компания</h1>
            </div>
            
            <div class="items_block">
                <h1 class="title">ИНН:</h1>
                <h1 class="description">88805553535</h1>
            </div>

            <div class="items_block">
                <h1 class="title">email:</h1>
                <h1 class="description">email@email.ru</h1>
            </div>

            <div class="items_block">
                <h1 class="title">Место регистрации:</h1>
                <h1 class="description">Место регистрации</h1>
            </div>

            <div class="items_block">
                <h1 class="title">Телефон:</h1>
                <h1 class="description">88805553535</h1>
            </div>

            <button>Редактировать</button>

        </div>

        <div class="payment_block">

            <div class="balance_items">
                <h1 class="balance">Баланс:</h1>
                <h1 class="summa">1916,74 TJS</h1>
            </div>

            <div class="replenish_items">
                <h1 class="replenish">Пополнение баланса со счета Alif mobi:</h1>
                <h1 class="commission">Комиссия за пополнение - 0%</h1>
            </div>

            <form action="" class="phone_items">
                <input class="phone" type="number" placeholder="Телефон">
                <input class="summa" type="number" placeholder="Сумма">
            </form>

            <button>Продолжить</button>

        </div>
    </div>
</div>
<app-footer-page></app-footer-page>