<app-header></app-header>
<div class="container">
  <div class="content">
    <h1>Лоты:</h1>
    <table class="resp-tab">
      <thead>
        <tr>
          <th rowspan="2">Название лота</th>
          <th rowspan="2">Номер лота</th>
          <th rowspan="2">Скидка</th>
          <th colspan="3">Сумма без учета НДС</th>
          <th colspan="3">Сумма без учета НДС</th>
          <th  rowspan="2">Партнеры</th> 
        </tr>
        <tr>  
          <th>Сомони</th>
          <th>Доллар</th>
          <th>Евро</th>
          <th>Сомони</th>
          <th>Доллар</th>
          <th>Евро</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Название лота </span>Название лота</td>  
          <td><span>Номер лота </span>1344</td>  
          <td><span>Скидка </span>1324</td>  
          <td><span>Сумма без учета НДС </span><div class="currancy">
            <i>Сомони : <p>123</p></i>
            <i>Доллар : <p>123</p></i>
            <i>Евро : <p>123</p></i>
          </div> <pre>123</pre></td>      
          <td class="hdd"> 123 </td> 
          <td class="hdd"> 123 </td> 
          <td><span>Сумма без учета НДС </span><div class="currancy">
            <i>Сомони : <p>123</p></i>
            <i>Доллар : <p>123</p></i>
            <i>Евро : <p>123</p></i>
          </div><pre>123</pre> </td>
          <td class="hdd">123</td>      
          <td class="hdd">123</td>      
          <td><span>Партнеры </span>Первый, Второй, Третий</td>  
          <td class="change"> 
            <div class="trash__block">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <div class="trash__block"> 
            <i class="fas fa-trash"></i>
            </div>
          </td>  
        </tr> 
      </tbody>
    </table>
  </div>
</div>
