<app-header></app-header>
<div class="container">
  <div class="content">
    <h1 class="title">Форма отправки заявки</h1>

    <div class="fail_block">
      <div class="fail_items">
        <h1 class="file_title">Файл</h1>
        <h1 class="file_description">Файл</h1>
      </div>

      <img class="failImg" src="assets/img/file.svg" alt="">
      <input class="fileChoose" type="file">
    </div>

    <h1 class="lots">Лоты:</h1>

    <form class="forms" action="">
      <div class="remove">
        <p>удалить лот</p>  
      <div class="last-form_items">
        <div class="number_form">
          <h1>Номер</h1>
          <input type="number" placeholder="Номер">
        </div>

        <div class="name_form">
          <h1>Название</h1>
          <input type="text" placeholder="Название">
        </div>

        <div class="summa_form">
          <h1>Сумма</h1>
          <input type="number" placeholder="Сумма">
        </div> 
      </div>
    </div> 
      <div class="btn">
        <button class="send">ДОБАВИТЬ ЛОТ</button>
      <button class="send">ОТПРАВИТЬ</button>
      </div>
    </form>

  </div>
</div>
<app-footer-page></app-footer-page>
