.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 30px;

  .content__opening {
    h3 {
      margin: 30px 0;
    }

    .table {
      display: flex;
      justify-content: space-between;

      .blockLeft {
        width: 50%;
        border: 1px solid #000;
        padding: 7px 7px;
        background: #ddd;
      }

      .blockRight {
        width: 50%;
        border: 1px solid #000;
        padding: 7px 7px;
      }
    }
  }

  .content__details {
    margin: 30px auto 0;

    .response_details {
      margin: 30px 0 20px 56px;

      .details-block {
        width: 99%;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        .blockLeft {
          width: 50%;
        }

        .blockRight {
          width: 50%;
        }
      }
    }

    .response_address {
      margin-left: 56px;

      .details-block {
        width: 99%;
        display: flex;
        justify-content: space-between;

        padding: 5px 0;

        .blockLeft {
          width: 50%;
        }

        .blockRight {
          width: 50%;
        }
      }
    }

    .joint_detail {
      margin-left: 56px;

      .detail_content {
        margin: 5px 0 20px 0;

        .details-block {
          width: 99%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;

          .blockLeft {
            width: 50%;
          }

          .blockRight {
            width: 50%;
          }
        }
      }
    }
  }

  .content__lots {
    h3 {
      margin: 30px 0;
    }

    .lots__block {
      margin-top: 30px;

      .lots-table {
        display: flex;
        justify-content: space-between;

        .blockLeft {
          width: 50%;
          border: 1px solid #000;
          padding: 7px 7px;
        }

        .blockRight {
          width: 50%;
          border: 1px solid #000;
          padding: 7px 7px;
        }
      }
    }
  }

  .tender__total {
    h3 {
      margin: 30px 0;
    }

    .lots__block {
      margin-top: 30px;

      .lots-table {
        display: flex;
        justify-content: space-between;

        .blockLeft {
          width: 50%;
          border: 1px solid #000;
          padding: 7px 7px;
        }

        .blockRight {
          width: 50%;
          border: 1px solid #000;
          padding: 7px 7px;
        }
      }
    }
  }

  .creat {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    border: none !important;

    .content__details {

      .response_details,
      .response_address,
      .joint_detail {
        margin-left: 0;
      }
    }
  }
}
